html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}	
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
ul {
	list-style: none;
}

 
/* Navigation Section */
.top-navigation {
    height: 70px;
    background-color: white;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid grey;
    z-index: 10;
}

.logo {
    height: 42px;
    margin-left: 300px;
    margin-top: 16px;
}

a {
    text-decoration: none;
}
.top-navigation ul li a {
     color: #838994;
    font-size: 17px;
}

.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 19x;
    margin-top: 25px;
    margin-right: 140px;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 30px
}
.top-navigation .links li .active {
    color: #4c5058;
    font-weight: 900;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/* Introduction Section */
.introduction {
    background-image: url('../img/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 118% 110%;
    height: 750px;
    overflow: auto;
}
.introduction h1 {
    margin-top: 235px;
    font-size: 49px;
}
.introduction p {
    margin-top: -20px;
    font-size: 25px;
    font-weight: normal;
}
.introduction h1, p {
    text-align: center;
    color: white;
    font-weight: normal;
}
.button {
    position: absolute;
    background-color: #f15a29;
    border-style: none;
    border-radius: 4px;
    padding: 18px 35px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    top: 428px;
    left: 605px;
    color: white;
    cursor: pointer;   
}
.button:hover {
    background-color: orangered;    
}

/* Introduction Section */
.cases-content, h2 {
    text-align: center;
    font-size: 45px;
    font-weight: normal;
    padding-top: 50px;
}

.icons li {
    display: inline-block;
    margin: 0 5px 0 5px;
}

.icon-image {
    width: 150px;
}

h3 {
    color: black;
    font-size: 26px;
    font-weight: normal;
}
/* Footer Section */      
footer {
    text-align: center;
    border-top: 3px solid black;
}


